.card-episode-descriptions-html {
    margin: 0;
}

.card-episode-descriptions {
    color: var(--grey-two-color);
}

.card-episode-descriptions > p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.audio-episode {
    margin-top: 2rem;
    width: 100%;
}