.container-card-media {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.card-media-img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}